<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Record</title>
</head>
<body>
    <form action="/api/student" method="post">
        <label for="name">Name :-</label>
        <input type="text" name="name" id="name">
        <label for="currentClass">CurrentClass :- </label>
        <input type="text" name="currentClass" id="currentClass">
        <label for="division">Division :- </label>
        <input type="text" name="division" id="division">
        <button type="submit">Submit</button>
    </form>
</body>
</html>